# Core functionality - changes here should be rare!
/src/app.py                   @Leksonola
/src/backend/database.py      @Leksonola
/src/backend/routers/auth.py  @Leksonola

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Leksonola
